* {
    font-family: Helvetica;  
}

h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url(/resources/images/pattern.webp);
}

h2 {
    color:#fff;
    font-size: 32px;  
}

.Brushes {
    background-color: mediumspringgreen;
}

.Frames {
    background-color: lightcoral;
}

.Paint {
    background-color: skyblue;
}

span {
    color: blue;
    font-weight: 700;
}